<!-- search form -->
 <form action="/search_data" method="get" class="sidebar-form">
    <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
    </div>
</form>
<!-- /.search form -->
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
    <li class="header">MAIN NAVIGATION</li>
    <li class="active treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>devices</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/device/registe"><i class="fa fa-circle-o"></i>devices registe</a></li>
            <li><a href="/device"><i class="fa fa-circle-o"></i>devices list</a></li>
<!--             
            <%
            if (locals.devices) {                     
                var myObj = JSON.parse(devices);                
                
                for(var i=0; i < myObj.length; i++){ 
                    var class_active = "";
                    if( channel == myObj[i].field_id ){
                        class_active = "active";
                    }
        %>
          <li class="<%=class_active %>">
              <a href="/test?channel=<%=myObj[i].field_id%>"><i class="fa fa-circle-o"></i>device<%=myObj[i].field_id%></a>
          </li>
        <%      } 
            }
        %> -->

            <li><a href="/data"><i class="fa fa-circle-o"></i>show detail</a></li>
            <li><a href="/data/chart"><i class="fa fa-circle-o"></i>show chart</a></li>
            <li><a href="/data/data"><i class="fa fa-circle-o"></i>show data</a></li>
            <li><a href="/data/image"><i class="fa fa-circle-o"></i>show images</a></li>
        
            <!-- list start -->
            <!-- <li>
              <a href="#"><i class="fa fa-circle-o"></i>devices list
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                <li>
                  <a href="#"><i class="fa fa-circle-o"></i> show
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                  <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i>chart</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>data</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i>images</a></li>
                  </ul>
                </li>
              </ul>
            </li> -->
           <!-- list end -->
        </ul>
    </li>
      <li class="active treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/boards/registe"><i class="fa fa-circle-o"></i>Dashboard registe</a></li>
            <li><a href="/boards"><i class="fa fa-circle-o"></i>Dashboard list</a></li>
          </ul>
        </li>

<!-- add nav item -->
<!-- 
    <li class="active treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i>registePage</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>listPage</a></li>
          </ul>
        </li>
-->
</ul>