<!DOCTYPE html>
<html>
    <head>
        <title>Data Chart</title>
        <% include ../../partials/header_javascript.ejs %>
        <% include ../../partials/stylesheet.ejs %>
    </head>

    <body>
    
    
    </body>
</html>
