<!DOCTYPE html>
<html>
    <head>
        <title>board ListPage</title>
        <% include ../partials/stylesheet.ejs %>
        <% include ../partials/header_javascript.ejs %>
        <% include ../partials/weather_config.ejs %>
    </head>
    <body>

    
    <% include ../partials/footer.ejs %>
    <% include ../partials/footer_graph_javascript.ejs %>
    </body>
</html>
