<!DOCTYPE html>
<html>
  <head>
    <title>welcome IOF</title>
    <% include ../partials/stylesheet.ejs %>
    <% include ../partials/header_javascript.ejs %>
    <% include ../partials/weather_config.ejs %>
  </head>
  <body>
    
  </body>
</html>
